MyTools/Service References/ServiceReference1/SmtInput.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="command_code_for_webservice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_cmd" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="command_code_for_webserviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="command_code_for_webserviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="command_code_for_webserviceSoapIn">
    <wsdl:part name="parameters" element="tns:command_code_for_webservice" />
  </wsdl:message>
  <wsdl:message name="command_code_for_webserviceSoapOut">
    <wsdl:part name="parameters" element="tns:command_code_for_webserviceResponse" />
  </wsdl:message>
  <wsdl:message name="command_code_for_webserviceHttpGetIn">
    <wsdl:part name="vip" type="s:string" />
    <wsdl:part name="p_cmd" type="s:string" />
    <wsdl:part name="p_data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="command_code_for_webserviceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="command_code_for_webserviceHttpPostIn">
    <wsdl:part name="vip" type="s:string" />
    <wsdl:part name="p_cmd" type="s:string" />
    <wsdl:part name="p_data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="command_code_for_webserviceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SmtInputSoap">
    <wsdl:operation name="command_code_for_webservice">
      <wsdl:input message="tns:command_code_for_webserviceSoapIn" />
      <wsdl:output message="tns:command_code_for_webserviceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SmtInputHttpGet">
    <wsdl:operation name="command_code_for_webservice">
      <wsdl:input message="tns:command_code_for_webserviceHttpGetIn" />
      <wsdl:output message="tns:command_code_for_webserviceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SmtInputHttpPost">
    <wsdl:operation name="command_code_for_webservice">
      <wsdl:input message="tns:command_code_for_webserviceHttpPostIn" />
      <wsdl:output message="tns:command_code_for_webserviceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmtInputSoap" type="tns:SmtInputSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="command_code_for_webservice">
      <soap:operation soapAction="http://tempuri.org/command_code_for_webservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmtInputSoap12" type="tns:SmtInputSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="command_code_for_webservice">
      <soap12:operation soapAction="http://tempuri.org/command_code_for_webservice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmtInputHttpGet" type="tns:SmtInputHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="command_code_for_webservice">
      <http:operation location="/command_code_for_webservice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmtInputHttpPost" type="tns:SmtInputHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="command_code_for_webservice">
      <http:operation location="/command_code_for_webservice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmtInput">
    <wsdl:port name="SmtInputSoap" binding="tns:SmtInputSoap">
      <soap:address location="http://mes.abu.com:1102/SMT_WebService/SmtInput.asmx" />
    </wsdl:port>
    <wsdl:port name="SmtInputSoap12" binding="tns:SmtInputSoap12">
      <soap12:address location="http://mes.abu.com:1102/SMT_WebService/SmtInput.asmx" />
    </wsdl:port>
    <wsdl:port name="SmtInputHttpGet" binding="tns:SmtInputHttpGet">
      <http:address location="http://mes.abu.com:1102/SMT_WebService/SmtInput.asmx" />
    </wsdl:port>
    <wsdl:port name="SmtInputHttpPost" binding="tns:SmtInputHttpPost">
      <http:address location="http://mes.abu.com:1102/SMT_WebService/SmtInput.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>